<html>
<head>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    
    <script>
    $(document).ready(function() {
        // TODO: Code!
    });
    </script>
    
</head>
<body>
    <h1>Games authoring!</h1>
</body>
</html>