<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/static/js/engine.js"></script>
    <script src="/static/js/editor.js"></script>
    <link rel="stylesheet" href="/static/css/player.css" type="text/css">
</head>
<body>
  <svg id="editor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="95%" >
    <defs>
      <pattern id="grid" width="60" height="60" patternUnits="userSpaceOnUse">
        <rect fill="black" x="0" y="0" width="30" height="30" opacity="0.1"/>
        <rect fill="white" x="30" y="0" width="30" height="30"/>
        <rect fill="black" x="30" y="30" width="30" height="30" opacity="0.1"/>
        <rect fill="white" x="0" y="30" width="30" height="30"/>
      </pattern>
      
      <pattern id="wall-medium" width="2" height="2" patternUnits="userSpaceOnUse">
        <rect fill="black" x="0" y="0" width="1" height="1"/>
        <rect fill="white" x="1" y="0" width="1" height="1"/>
        <rect fill="black" x="1" y="1" width="1" height="1"/>
        <rect fill="white" x="0" y="1" width="1" height="1"/>
      </pattern>

      <image id="bear" width="60" height="30" xlink:href="/static/svg/noun_project_653.svg" />
      
      <image id="brick-wall" width="30" height="30" xlink:href="/static/svg/brick_wall.svg" />
      
      <svg id="cursor">
          <rect stroke="black" fill="rgba(255,255,255,0.8)" height="30" width="30"/>
      </svg>
     
      <svg id="player" fill="blue" viewBox="0 0 100 100" height="30" width="30">
        <g preserveAspectRatio="xMinYMin meet">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M50,0C22.386,0,0,22.385,0,50c0,27.615,22.386,50,50,50    c27.615,0,50-22.385,50-50C100,22.385,77.615,0,50,0z M50,91.669c-23.012,0-41.667-18.655-41.667-41.668S26.989,8.334,50,8.334    c23.013,0,41.667,18.654,41.667,41.667S73.014,91.669,50,91.669z M34.896,42.709c3.739,0,6.771-3.031,6.771-6.771    c0-3.74-3.032-6.772-6.771-6.772c-3.74,0-6.771,3.032-6.771,6.772C28.125,39.678,31.157,42.709,34.896,42.709z M65.106,29.167    c-3.74,0-6.772,3.032-6.772,6.772c0,3.74,3.032,6.771,6.772,6.771s6.771-3.031,6.771-6.771    C71.877,32.198,68.847,29.167,65.106,29.167z M28.125,72.658h43.751v-8.333H28.125V72.658z"/>
        </g>
      </svg>
    </defs>

    <g id="main-group" transform="translate(0,0) scale(1,1)">
      <rect fill="url(#grid)" x="0" y="0" width="100%" height="100%"/>
      
      <image class="tent" x="120" y="60" width="60" height="60" xlink:href="/static/svg/noun_project_4328.svg" />

      <use xlink:href="#bear" x="30" y="60" />
      <use class="brick-wall" xlink:href="#brick-wall" x="30" y="90"/>
      <use class="player" xlink:href="#player" x="180" y="180" />
      <use class="cursor" xlink:href="#cursor" x="180" y="180" />
      <use class="wall-medium" xlink:href="#wall-medium" x="180" y="180" />
    </g>
  </svg>
  <div id="bottomBar" style="height:5%;">
      <strong>Controls: </strong> Press <strong>P</strong> to place the player, <strong>W</strong> to place a wall, and the arrow keys to move.
  </div>
</body>
</html>